body {
  background-color: #EFEFEF;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333333;
}

.wrapper {
  max-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 4px 0;
}

.nav>li {
  margin-left: 15px;
  margin-right: 15px;
}

.nav>li>a {
  text-decoration: none;
  color: #333333;
}

.header {
  background-color: #fff;
  padding-top: 10px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0 13px 0;
}

.logo {
  color: #66C05D;
  font-size: 36px;
  font-weight: 700;
  display: flex;
  align-items: center;
  letter-spacing: 4px;
}

.logo-image {
  display: block;
  width: 80px;
  height: 80px;
  background-image: url(/img/logo.svg);
  margin-right: 20px;
}

.header-info span {
font-size: 16px;
}

.header-info button {
  font-size: 14px;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #66C05D;
  padding: 10px 25px;
  margin-left: 36px;
  transition: 0.2s ease;
  cursor: ;
}

.header-info button:hover {
  background-color:#66C05D;
}

.header-bottom {
  padding: 20px 0 27px 0;

}
.header-bottom .nav {
  font-size: 16px;
  margin: 0;
}
.header-bottom .nav > li {
  margin-left: 20px;
  margin-right: 20px;
}

hr {
  background-color:#EFEFEF;
  height: 1px;
}

.banner {
  background-image: url(/img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 159px;
  padding-bottom: 204px;
  color: #fff;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 39px;
}

.banner p {
  margin-bottom: 57px;
  max-width: 315px;
  line-height: 1.5;
}

.btn{
  color: #fff;
  text-decoration: none;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 9px 47px;
  transition: 0.2s ease;
}

.btn:hover {
  background-color:#fff;
  color:#333333;
}

.bg-white {
    background-color:#fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.grid-item-title {
  grid-column: 1/4;
  grid-row: 1/2;
}

.grid-item-img {
  grid-column: 4/5;
  grid-row: 1/2;
}


